#c_main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .shop_header{
        width: 100vw;
        height: 100vh;
        background-image: url('../images/shop_bg.jpg');
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        h2{
            font-size: 3rem;
            margin-top: 5vh;
            color: gray;
            
        }
        h5{
            margin-top: 30vh;
            font-size: 2.5rem;
            margin-right: 70vw;
            background-color:lightskyblue;
            color: white;
            padding: 0 1.5rem;
            border-radius: 1rem;
            
        }
        p{
            font-size: 1.5rem ;
            width: 100vw;
            margin-left: 20vw;
        }
    }
    .title_photo{
        width: 100vw;
        height: 20vh;
        img{
            width: 100vw;
        }
    }
    h1{
        color: lightpink;
        cursor: pointer;
        font-size: 3.5rem;
    }
    .register{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            color: lightpink;
            font-size: 2rem;
            transition: transform .3s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }   
        }
        .p_container{
            //display: none;
            display: flex;
            flex-direction: column;
            form{
                display: flex;
                flex-direction: column;
               
            }
        }
    }
    .whole_code{
        display: flex;
        //flex-direction: column;
        align-items: center;
        input{
            min-width: 5vw;
            text-align: center;
            margin-right: 1vw;
        }
        button{
            min-width: 5vw;
            border: 1px solid lightskyblue;
    
            background-color: lightskyblue;
            padding: .3rem .8rem;
            margin-right: 2vw;
            margin-left: 2vw;
            &:hover{
                background-color:skyblue;
                cursor: pointer;
                color: white;
                
            }
            &:focus{
                outline: none;
            }
        }
    }
    .whole_shop{
        
        h3{
            color:lightskyblue;
            font-size: 2rem;
            transition: transform .3s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }
        .p_container{
            display: flex;
            flex-direction: column;
            .milk, .milkshake, .yogurt, .butter{
                margin-left: 15vw ;
            }
            #title{
                font-size: 2rem;
                margin-left: 15vw ;
                color: skyblue;
                font-weight: bold;
            }
            
        }
    }
    .whole_cart{
        h3{
            color: lightskyblue;
            font-size: 2rem;
            transition: transform .3s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }
        .p_container{
            display: none;
            flex-direction: column;
            align-items: center;
        }
        .p_container .cart_buy{
            button{
                background-color: lightskyblue;
                border: none;
                padding: .5rem 1rem;
                margin-bottom: 5vh;
                &:hover{
                    background-color: skyblue;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
.show{
    display: flex !important;
}
@media all and (max-width:800px){
    #c_main{
        .shop_header{
            background-position: left;
            h2{

                font-size: 2rem;
            }
            h5{
                font-size:1.5rem;
                margin-right: 20vw;
            }
            p{
                font-size:1.2rem;
            }
        }
        h1{
            font-size: 2rem;
        }
        .whole_shop .p_container{
            .milk , .milkshake , .butter ,.yogurt{
                display: flex;
                width: 100vw;
                overflow-x: scroll;
            }
        }
        .whole_shop, .whole_cart{
            h3{
                font-size: 1.5rem;
            }
        }
    }
}